#list > li {
  padding: 10px;
  border: 1px solid #bbb;
  margin: 8px;
  font-weight: bold;
  cursor: move;
  background: #eee;
}

.remove {
  margin-left: 2em;
  color: red;
}

body {
  overflow: visible !important;
}

.controls {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
