<head>
  <title>Presentation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body></body>

<template name="layout">
  {{> loginButtons}}
  {{> yield}}
</template>